.big {
    width:  45vw;
    height: 30vh;
}

.touch, .rotate {
    width: auto;
    height: 5vh;
}

.blank, .tick, .cross {
    width: 28vw;
    height: 6vh;
}

#output {
    text-align: justify;
    margin: 0 auto;
    width: 50em;
}
